.App {
    text-align: center;
}

.Page-Container {
    display: block;
    box-sizing: border-box;
    max-width: 372px;
    margin: 0 auto;
}

@media (min-width: 620px) {
    .Page-Container {
        max-width: 560px;
    }
}