.BookItem {
    max-width: 100%;
    margin: 16px auto;
    background-color: rgb(224, 224, 224);
    padding: 16px 32px;
    border-radius: 16px;
}

.BookItem:hover {
    cursor: pointer;
}

.BookItem .Book-Thumbnail {
    width: 64px;
    height: 96px;
}

.BookItem .Book-Title h2 {
    font-size: 18px;
    margin: 0 auto;
    padding: 8px 0;
}

.BookItem .Flex-Thumbnail {
    width: 40%;
}

.BookItem .Flex-Container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.BookItem .Flex-Description {
    flex: 1 1 auto;
    text-align: center;
}

.BookItem .Flex-Description div {
    margin-bottom: 4px;
}

@media (min-width: 620px) {
    .BookItem {
        margin: 16px auto;
    }

    .BookItem .Book-Thumbnail {
        width: 80px;
        height: 120px;
    }
}