.BookDetail {
    max-width: 100%;
    margin: 16px auto;
    padding: 16px 32px;
    border: 1px solid rgb(52, 152, 219);
    border-radius: 16px;
}

.BookDetail .BookDescription {
    margin: 32px auto;
}

.BookDetail .BookCitation {
    margin: 32px auto;
}

.BookDetail .Book-Title h2 {
    font-size: 24px;
    margin: 0 auto 24px auto;
}

.BookDetail .Flex-Thumbnail {
    width: 40%;
}

.BookDetail .Flex-Container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.BookDetail .Flex-Description {
    flex: 1 1 auto;
    text-align: center;
    font-size: 18px;
}

.BookDetail .Flex-Description div {
    margin-bottom: 4px;
}

@media (min-width: 620px) {
    .BookDetail {
        margin: 16px auto;
    }

    .BookDetail .BookDescription {
        margin: 16px auto;
    }

    .BookDetail .BookCitation {
        margin: 16px auto;
    }
}